.project {
  background-color: #2c4251;
}

.closeup {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  border-width: 15px;
  border-color: rgb(31, 74, 102);
}

.heading {
  display: flex;
  justify-content: center;
  padding: 16px;
  border-style: solid;
  border-radius: 15px;
  background-color: #c1c1c1;
  font-family: Arial, sans-serif;
  width: 95%;
  margin: 0 auto 5vh;
}

.main-content {
  margin-left: 5%;
  margin-right: 5%;
}

.life {
  display: flex;
  justify-content: center;
  border-style: solid;
  background-color: #c1c1c1;
  font-family: Arial, sans-serif;
  width: 85%;
  align-content: center;
  margin: 0 auto 5vh;
}

.table {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.tbody,
.accomplishment,
.year,
.content {
  background-color: #c1c1c1;
  border: 5px solid rgb(31, 30, 32);
}

.table-row {
  height: 15vh;
  background-color: #c1c1c1;
  border: 5px solid rgb(31, 30, 32);
}

.year {
  width: 5vw;
  text-align: center;
}

.accomplishment {
  font-size: xx-large;
}

.goat {
  display: flex;
  justify-content: center;
  margin: 0 auto 5vh;
  border-style: solid;
  background-color: #c1c1c1;
  font-family: Arial, sans-serif;
  width: 85%;
}

.meg1,
.meg2 {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .closeup {
    width: 80%;
  }
  .heading {
    font-size: 18px;
  }
}
